body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  background-color: #AADDFF;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.menu {display: block;
  height: 20px;
  overflow: hidden;
  width: 1024px;
  margin-bottom: ;}

.menu ul {color: red;
  cursor: auto;
  display: block;
  font-size: 9px;
  font-weight: bold;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
  width: 1024px;}

.menu ul li {float: left; 
  margin-right: 20px}

.main-content {
  background-color: #FFF;
  width: 1024px;
  border: 1px solid #DDD; 
  padding: 20px; 
  position: relative; 
  margin: 0px auto; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;}

table {width:800px;}  
table tr td { background-color: #FFF;}
table tr td.col1 { width:500px;}
table tr td.col-date { width:100px;}

table.stats {width: 500px; text-align:center}
.stats_category {display:none;}

.short {width: 450px;}

p { background-color: #FFF;}
.content {
  overflow: auto;
}
.side_column { 
  width: 200px; 
  float: left }
.center_column { 
  width: 800px; 
  float: left}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

textarea {width: 800px;}
