<h1>Editing stat</h1>

<%= render 'form' %>

<%= link_to 'Show', campaign_character_stat_path(@campaign, @character,@stat) %> |
<%= link_to 'Back', campaign_character_stats_path(@campaign, @character) %>
